.App {
  text-align: center;
}

.semaforo {
  margin-top: 40px;
  width: 150px;
  height: 450px;
  align-items: center;
  padding: 30px;
}

.row {
  width: 120px;
  height: 120px;
  margin: 10px;
  
}