.App {
  text-align: center;
}

.semaforo {
  margin-top: 40px;
  width: 150px;
  height: 450px;
  align-items: center;
  padding: 30px;
}

.row {
  width: 120px;
  height: 120px;
  margin: 10px;
  
}

.rojo {
  box-shadow: 0px 0px 20px 10px red;

}
.ro{
  background-color: red;
}
.amarillo {
  box-shadow: 0px 0px 20px 10px yellow;

}
.am{
  background-color: yellow;
}
.verde {
  box-shadow: 0px 0px 20px 10px green;
 
}
.ve {
  background-color: green;
}